
*.hex
*.elf
*.lss
*.o
*.atsuo
*.eep
*.d
*.mk
*.srec
*Makefile
*.map
LiDAR_UART_plotiing/LiDAR_UART_plot_CPP/subprojects/sfml/
ESP_32_C6_dev_kit1/ESP_LiDAR_V1/ESP32_C6_Vl53l0x/components/vl53l0x_esp32/
*.avi
*.xml
*.cppproj
*.atsln
